# Python for beginners
**Notebook to learn the basic concepts of python, focusing on the standard library**

## Background
Python is an interpreted, high-level, general-purpose programming language (wikipedia)  
Python emphasizes readability, smilar to the english language, such that it is easier to read code  
Top 3 most used programming languages in the world (githut.info)  

Python is often used for:
- Data science (Machine Learning/analytics/data transformation)
- Scripting
- Web development
- Application development

<img src="img/growth_major_languages.png">

**source:** https://news.codecademy.com/why-learn-python/

**With the language being so versatile many tend to choose python over SQL and R.**  
"Python’s popularity in data science and machine learning is probably the main driver of its fast growth.”   
“If you want to do something simple, it’s probably one line of code. If you want to do something really complicated, you also have that very fine level of control.” 
https://news.codecademy.com/why-learn-python/

<img src="img/python_meme_automate.jpeg">

## Jupyter Notebook: 
"The Jupyter Notebook is an open source web application that you can use to create and share documents that contain live code, equations, visualizations, and text."
https://realpython.com/jupyter-notebook-introduction/

## Markdown cells

Markdown cells includes text. This helps describe and document the code

**Can include latex syntax:**
$$c = \sqrt{a^2 + b^2}$$

**Can show images:**
<img src="img/python_logo.png">

## Expectations

**List of expectations:**

## Inspiration

This beginners guide to Python contains many of the concepts that are important in the standard library of Python. This guide is heavily inspired by this github repository: https://github.com/Akuli/python-tutorial. For more detail, please look study it on your own.

# Getting Started

In [1]:
print('Hello World')

Hello World

**Comments**

In [2]:
#print('Hello World')

## Variables

In [3]:
a = 3 #create a variable called a that points to 3
b = 4 # create another variable

As you can see there is no need to specify the type of the variable  
- Python is dynamically typed. For thos interested: this means that python does type checking at runtime in stead of compile time.

In [4]:
type(a)

int

can change the variables

In [5]:
a = 5
a

5

Can also change to a different type  
Example below changes the variable a to a string. Strings are defined by the ' or "

In [6]:
a = 'I want to be a string, not a number'
a

'I want to be a string, not a number'

We can change it back to its original number

In [7]:
a = 3
a

3

# Data Types

## Numeric

There are three numeric types in Python:
- int (e.g. 2, 4, 20)
    - bool (e.g. False and True, acting like 0 and 1)
- float (e.g. 5.0, 1.6)
- complex (e.g. 5+6j, 4-3j)

**Integer type**  
Int, or integer, is a whole number, positive or negative,
without decimals, of unlimited length.

In [8]:
positive_integer = 1
negative_integer = -3255522
big_integer = 35656222554887711
type(big_integer)

int

**Booleans** represent the truth values False and True. The two objects representing the values
False and True are the only Boolean objects. The Boolean type is a subtype of the integer type,
and Boolean values behave like the values 0 and 1, respectively, in almost all contexts, the
exception being that when converted to a string, the strings "False" or "True" are returned,
respectively.

In [9]:
true_boolean = True
false_boolean = False
type(true_boolean)

bool

**Float type**  
Float, or "floating point number" is a number, positive or negative,
containing one or more decimals.

In [10]:
float_number = 7.0
# Another way of declaring float is using float() function.
float_number_via_function = float(7)
float_negative = -35.59
type(float_number)

float

**Complex Type**

In [11]:
complex_number_1 = 5 + 6j
complex_number_2 = 3 - 2j
type(complex_number_1)

complex

## Strings

**String Type**

In [12]:
# String with double quotes.
name_1 = "Simon"
name_1

'Simon'

In [13]:
# String with single quotes.
name_2 = 'Simon'
name_2

'Simon'

In [14]:
# \ can be used to escape quotes.
# use \' to escape the single quote or use double quotes instead.
single_quote_string = 'doesn\'t'
double_quote_string = "doesn't"
double_quote_string

"doesn't"

Strings can be indexed, with the first character having index 0.  
There is no separate character type; a character is simply a string  
of size one. Note that since -0 is the same as 0, negative indices start from -1.

In [15]:
word = 'Python'
print(word[0]) # First character.
print(word[4]) # Fifth character.
print(word[-1])# Last character.

P
o
n

**Slicing**  
In addition to indexing, slicing is also supported.  
While indexing is used to obtain individual characters, 
slicing allows you to obtain substrings:

In [16]:
print(word[0:2])
print(word[2:5])

Py
tho

Note how the start is always included, and the end always excluded.  
This makes sure that s[:i] + s[i:] is always equal to s:

In [17]:
word[:2] + word[2:]

'Python'

In [18]:
# One way to remember how slices work is to think of the indices as
# pointing between characters, with the left edge of the first character
# numbered 0. Then the right edge of the last character of a string of n
# characters has index n, for example:
#
# +---+---+---+---+---+---+
#  | P | y | t | h | o | n |
#  +---+---+---+---+---+---+
#    0   1   2   3   4   5   6
#   -6  -5  -4  -3  -2  -1

In [19]:
test_string = 'Hello World!'
test_string

'Hello World!'

<img src="img/slicing1.png">

<img src="img/slicing2.png">

## Lists

Lists are very similar to arrays. They can contain any type of variable, and they can contain
as many variables as you wish. Lists can also be iterated over in a very simple manner.
Here is an example of how to build a list.

In [20]:
squares = [1, 4, 9, 16, 25]

Like strings (and all other built-in sequence type), lists can be
indexed and sliced:

In [21]:
print(squares[0]) # indexing returns the item
print(squares[-1])
print(squares[-3:]) #slicing returns a new list

1
25
[9, 16, 25]

Lists also support operations like concatenation:

In [22]:
 squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Unlike strings, which are immutable, lists are a mutable type, i.e. it
is possible to change their content:

In [23]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here, the cube of 4 is 64!
cubes

[1, 8, 27, 65, 125]

In [24]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [25]:
# compare with string type:
word[0] = 's'

TypeError: 'str' object does not support item assignment

You can also add new items at the end of the list, by using
The append() method

In [26]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

Assignment to slices is also possible, and this can even change the size
of the list or clear it entirely:  
*List can also contain strings

In [27]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters[2:5] = ['C', 'D', 'E']  # replace some values
letters[2:5] = []  # now remove them
letters

['a', 'b', 'f', 'g']

It is possible to nest lists (create lists containing other lists)  
for example:

In [28]:
list_of_chars = ['a', 'b', 'c']
list_of_numbers = [1, 2, 3]
mixed_list = [list_of_chars, list_of_numbers]
mixed_list

[['a', 'b', 'c'], [1, 2, 3]]

**List containing numbers in consecutive order**

In [29]:
#use the range function - range(start, end, step)
list_1 = list(range(0,20,2))
print(list_1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

**common gotcha:** only using the range function will return a range object

In [30]:
list_2 = range(0,20,2)
print(list_2)
#even when slicing
print(list_2[2:7])

range(0, 20, 2)
range(4, 14, 2)

## Tuples

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with
round brackets.
The Tuples have following properties:
- You cannot change values in a tuple.
- You cannot remove items in a tuple.

In [31]:
fruits_tuple = ("apple", "banana", "cherry")
type(fruits_tuple)

tuple

In [32]:
fruits_tuple[0]

'apple'

**You cannot change values in a tuple.**

In [33]:
fruits_tuple[0] = "pineapple"

TypeError: 'tuple' object does not support item assignment

It is also possible to use the tuple() constructor to make a tuple (note the double
round-brackets).
The len() function returns the length of the tuple.

In [34]:
fruits_tuple_via_constructor = tuple(("apple", "banana", "cherry"))
fruits_tuple_via_constructor

('apple', 'banana', 'cherry')

In [35]:
# do not need paranthesis to create tuple
fruits_tuple_without_parenthesis = "apple", "banana", "cherry"
fruits_tuple_without_parenthesis

('apple', 'banana', 'cherry')

In [36]:
# can create empty tuple:
empty_tuple = ()

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed.  
Python dictionaries
- written with curly brackets - {}
- have keys and values.  

It is best to think of a dictionary as a set of key: value pairs, with the requirement that the
keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}.
Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs
to the dictionary; this is also the way dictionaries are written on output.

**Details:**  
Dictionaries are sometimes found in other languages as “associative memories” or “associative
arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by
keys, which can be any immutable type; strings and numbers can always be keys. Tuples can be used
as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object
either directly or indirectly, it cannot be used as a key. You can’t use lists as keys, since
lists can be modified in place using index assignments, slice assignments, or methods like append()
and extend().

In [37]:
# dictionary = {key: value}

fruits_dictionary = {
    'cherry': 'red',
    'apple': 'green',
    'banana': 'yellow',
}
fruits_dictionary

{'cherry': 'red', 'apple': 'green', 'banana': 'yellow'}

In [38]:
fruits_dictionary['apple']

'green'

In [39]:
# list(dictionary) will output a list of all the keys
list(fruits_dictionary)

['cherry', 'apple', 'banana']

In [40]:
# can change the value:
fruits_dictionary['apple'] = 'red'
fruits_dictionary

{'cherry': 'red', 'apple': 'red', 'banana': 'yellow'}

In [41]:
#can add keys
fruits_dictionary['pineapple'] = 'yellow'
fruits_dictionary

{'cherry': 'red', 'apple': 'red', 'banana': 'yellow', 'pineapple': 'yellow'}

In [42]:
#can delete keys
del fruits_dictionary['pineapple']
fruits_dictionary

{'cherry': 'red', 'apple': 'red', 'banana': 'yellow'}

In [43]:
#the values can have different data types
python_dictionary = {
    'python_list': [1, 2, 3, 4, 5 ,6],
    'python_tuple': (1,2,3),
    'python_string': 'Hello world!',
    'python_number': 1337
     
    }
python_dictionary

{'python_list': [1, 2, 3, 4, 5, 6],
 'python_tuple': (1, 2, 3),
 'python_string': 'Hello world!',
 'python_number': 1337}

In [44]:
#dictionaries can be created via constructor:
dictionary_via_constructor = dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
dictionary_via_constructor

{'sape': 4139, 'guido': 4127, 'jack': 4098}

## Sets

- A set is a collection which is unordered and unindexed.  
- In Python sets are written with curly brackets.  
- Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

In [45]:
fruits_set = {"apple", "banana", "cherry"}
fruits_set

{'apple', 'banana', 'cherry'}

It is also possible to use the set() constructor to make a set.  
Note the double round-brackets

In [46]:
fruits_set_via_constructor = set(("apple", "banana", "cherry"))
fruits_set_via_constructor

{'apple', 'banana', 'cherry'}

In [47]:
fruits_set.add("pineapple")
fruits_set

{'apple', 'banana', 'cherry', 'pineapple'}

In [48]:
fruits_set.remove("pineapple")
fruits_set

{'apple', 'banana', 'cherry'}

**Sets do not contain the same element twice**

In [49]:
char_set = set('abcdabcdabcd')
char_set

{'a', 'b', 'c', 'd'}

In [50]:
fruits_set.add('cherry')
fruits_set

{'apple', 'banana', 'cherry'}

# Operators

- Arithmetic Operators (+, -, *, /, //, %, **)
- Assignment Operators (=, +=, -=, /=, //= etc.)
- Comparison Operator (==, !=, >, <, >=, <=)
- Logical Operators (and, or, not)
- Identity Operators (is, is not)
- Membership Operators (in, not in)

## Arithmetic operators

In [51]:
# addition
a + b

7

In [52]:
# subtraction
a - b

-1

In [53]:
#Multiplication
a * b

12

In [54]:
#Power
a ** b

81

In [55]:
# Divide
a/b

0.75

In [56]:
## floor division
a//b

0

In [57]:
# modulus
a % b

3

## Comparison operators

In [58]:
a

3

In [59]:
b

4

Are the values equal?

In [60]:
a == b

False

Are the values not equal?

In [61]:
a != b

True

Greater than

In [62]:
a > b

False

In [63]:
a >= b

False

Less than

In [64]:
a < b

True

In [65]:
a <= b

True

## Assignment operators

In [66]:
c = 5
c

5

In [67]:
c += 5
c

10

In [68]:
c -= 5
c

5

In [69]:
c /= 2
c

2.5

In [70]:
c //= 2
c

1.0

In [71]:
c *= 5
c

5.0

In [72]:
c **=2
c

25.0

## Logical operators

When both operands are true

In [73]:
(a == b) and (a <b)

False

When any of the operands are true

In [74]:
(a == b) or (a <b)

True

Reverse the logical statement

In [75]:
not ((a == b) and (a <b))

True

## identity Operators

In [76]:
a is b

False

In [77]:
a is not b

True

## Membership operators

In [78]:
a_list =  [1, 2, 3, 4, 5]

In [79]:
b

4

In [80]:
b in a_list

True

In [81]:
b not in a_list

False